
@import '_variables';

header	{

	background: $main-orange;
	width: 100%;

	h1	{
		font-family: 'Oswald', sans-serif;
		display: block;
		max-width: 500px;
		margin: 100px auto 70px auto;
		text-align: center;
		color: $white;
		font-size: 350%;
	}

	.icon-bar	{

		background: transparent;

		.item:hover	{
				background: $hover-tab-color;
		}

		a.active	{

			background: $active-tab-color;
		}
	}
}