//http://www.awwwards.com/trendy-web-color-palettes-and-material-design-color-schemes-tools.html
// #e8edf3 #e6cf8b #b56969 #22264b Quay Restaurant

$background-color:	#e8edf3;
$foreground-color:	#ffffff;
$font-color:		#4a4a4a;
$spec-yellow:		#e6cf8b;
$spec-red:			#b56969;
$spec-purple:		#22264b;