//http://www.awwwards.com/trendy-web-color-palettes-and-material-design-color-schemes-tools.html
// #e8edf3 #e6cf8b #b56969 #22264b Quay Restaurant

$background-color:	#ffffff;
$foreground-color:	#ffffff;
$font-color:		#4a4a4a;
$spec-yellow:		#e6cf8b;
$spec-red:			#b56969;
$spec-purple:		#22264b;

$main-orange:			#ff5722;
$active-tab-color:		#ff8a65;
$hover-tab-color:		#ff7043;
$white:					#ffffff;