---
---

@import '_variables';

body	{

	background-color: $background-color;
	max-width: 840px;
	margin: 40px auto;

	a#site-title	{
		text-transform: uppercase;
		letter-spacing: 0.1em;
		font-size: 2.5em;
		margin: 40px 0px 40px 0px;
	}

	article	{
		padding: 20px 30px;
		background: $foreground-color;
		color: $font-color;
		font-size: 1.2em;
		line-height: 1.6em;
		text-align: justify;
	}

	code	{
		font-family: monospace;
		line-height: 1em;
		font-size: 1em;
	}
}