---
---

@import '_variables';

body	{

	background-color: $background-color;
	max-width: 840px;
	margin: 40px auto;
	padding: 20px 20px;

	a	{
		text-decoration: none;
		color: $link-color;
	}

	article	{
		padding: 20px 30px;
		background: $foreground-color;
		color: $font-color;
		text-align: justify;

		p 	{
			font-size: 125%;
		}

		ul, ol 	{
			margin-left: 4rem;
		}
	}

	code	{
		font-family: monospace;
		line-height: 100%;
	}

	#site-title	{
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: 2.5em;
	margin: 40px 0px 40px 0px;
	}
}