//http://www.awwwards.com/trendy-web-color-palettes-and-material-design-color-schemes-tools.html
//Bonhomme

$background-color: 	#f6f1ed;
$foreground-color: 	#ffffff;
$font-color:		#4A4a4a;
$link-color:		#963019;

//#16174f
//#963019
//#f6f1ed
//#667467