<header>
  <div class="row">
    <div class="small-12 columns small-centered">
      <a href="/"><h1>Missing Semicolon</h1></a>
    </div>
  </div>
  <div class="row">
    <div class="small-8 small-centered columns">
      <div class="icon-bar three-up">
        <a class="item" href="/">
          <i class="fa fa-home"></i>
          <label>Home</label>
        </a>
        <a class="item active" href="/projects">
          <i class="fa fa-terminal"></i>
          <label>Projects</label>
        </a>
        <a class="item" href="/about">
          <i class="fa fa-info"></i>
          <label>About Me</label>
        </a>
      </div>
    </div>
  </div>
</header>